.container-1 {
  background-image: url('../Assets/Home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: 'center';
  height: 100vh;
  height: 100vh; /* Adjust the height as needed */
  padding: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

}


.card {
  display: flexbox;
  justify-content: left;
  text-align: left;
  max-width: 600px; 
}

h1 {
  font-size: 57px;/* Adjust the font size as needed */
  color: #ffff;
  font-weight: 600;
}

p {
  color: #ffff;
  font-size: 24px; /* Adjust the font size as needed */
  margin-top: 10px; /* Add margin for spacing between h1 and p */
}
